[submodule "homeworks/hw0"]
	path = homeworks/hw0
	url = git@github.com:jhu-advdatasci-fall-2019/2019-711-hw0-ebridge2.git
[submodule "homeworks/hw1"]
	path = homeworks/hw1
	url = git@github.com:jhu-advdatasci-fall-2019/2019-711-hw1-ebridge2.git
[submodule "homeworks/hw2"]
	path = homeworks/hw2
	url = git@github.com:jhu-advdatasci-fall-2019/2019-711-hw2-ebridge2.git
